body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkred;
    margin: 0px;
    padding: 0px;
    border: 0px;

}


.section1 {
    background-color: white;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.section2 {
    background-color: #e5e7eb;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.section3 {
    background-color: lightcoral;
    margin: 0px;
    padding: 0px;
    border: 0px;
}


.header {
    display: flex;
    justify-content: space-between; 
    padding: 0 15px 15px 15px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    text-decoration: none;
    color: #e5e7eb;
    gap: 15px;
}

.text-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f9faf8;
    margin: 25px 150px;
    gap: 30px;
}

.text-image h1 {
    font-weight: 900;
    font-size: 48px;
}

button {
    background-color: whitesmoke;
    padding: 10px 20px;
    font-size: 1em;
    background-color: white;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
}

.text-image p {
    color: #e5e7eb;
}

.hero-text {
    text-align: left;
}  

.hero-image {

}

.title-and-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0;
}

.icons-group {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
}

.icon {
    flex: 1;
    text-align: center;

}   

.icon img {
    padding: 20px;

}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #e4e4e4;
    margin: 25px 150px;
}

.quote-text {
    font-style: italic;
    font-size: 30px;
}

.quote-signature {
    display: flex;
    align-self: flex-end;
}

.email-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 25px 150px;
    background-color: lightcoral;
}    

/* Width: 60%; sets the width of the .email-box container to 60% of its containing element's width.
In this case, it means that the container will take up 60% of the width of its parent container.
This allows the container to be more centered and not stretch across the entire screen. 
with margin: 0 auto;the top and bottom margins are set to 0, and the left and right margins are set to auto, 
which calculates equal margins on the left and right sides, and centers the element horizontally.

Width % and margin 0 auto is a common way to center block elements horizontally */


.email-box-text {
    text-align: left;
    color: #e5e7eb;
    font-size: 18px;
}

#title {
    font-size: 24px;
    color: white    ;
}
.email-box-button {
    text-align: right;
}


a {
    color: inherit;
    text-decoration: inherit;
    font-size: 20px;
}

.footer {
    background-color: darkred;
    justify-content: center;
    display: flex;
    
}

.hero-secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}